.main-container{
    background: lightgray; 
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;background-size: cover;
    min-height: 100vh;
    height: 100%;
    background-attachment: fixed; 
}
.main-center-container{
    max-width: 90%;
    height: 100%;
    background: orange;
    margin: 5rem;
}
.card{
    width: 12rem;
    margin: 1rem;
    float: left;
    height: auto;
    min-height: 18rem;
}
.btn-claim{
    position: absolute;
    bottom: 0.2rem
}
.claim-details{
    width: 70rem;
}
.bordered{
    
    margin: 02rem
}